In [63]:
import pandas as pd
import numpy as np

In [64]:
anime = pd.read_csv("anime.csv") 
rating = pd.read_csv("rating.csv")

In [65]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [66]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [67]:
anime.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [68]:
anime['genre'].fillna(method='ffill', inplace=True)

anime['type'].fillna(method='ffill', inplace=True)

anime['rating'].fillna(round(anime['rating'].mean(), 2), inplace=True)

In [69]:
rating.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [70]:
anime.to_csv('anime.csv', index=False)

In [71]:
mean_ratings = rating.groupby('anime_id')['rating'].mean().reset_index()

In [72]:
mean_ratings.head()

   anime_id    rating
0         1  7.558514
1         5  6.890284
2         6  6.980590
3         7  6.040320
4         8  5.113801

In [73]:
#users row in ratings csv 
count_users = rating.groupby('anime_id').size().reset_index(name='count')

In [74]:
count_users.head()

   anime_id  count
0         1  15509
1         5   6927
2         6  11077
3         7   2629
4         8    413

In [75]:
# Rename the 'rating' column to 'user_rating'
mean_ratings.rename(columns={'rating': 'user_rating'}, inplace=True)

In [76]:
# Merge the anime dataframe with mean ratings based on anime_id
merged_df = pd.merge(anime, mean_ratings, on='anime_id', how='left')
merged_df=pd.merge(merged_df,count_users, on='anime_id',how='left')

# Save the merged dataframe back to a new CSV file
merged_df.to_csv('updated_anime.csv', index=False)

In [77]:
updated_anime=pd.read_csv("updated_anime.csv")

In [78]:
updated_anime.head()

,anime_id,name,genre,type,episodes,rating,members,user_rating,count
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,8.297863,2199.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,8.028933,24574.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,7.956710,1386.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,8.126796,19283.0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,7.711952,3673.0

In [86]:
#approx. the user rating column
updated_anime['user_rating']=updated_anime['user_rating'].round(2)
updated_anime['count']=updated_anime['count'].fillna(0).astype(int)
# Save the merged dataframe back to a new CSV file
updated_anime.to_csv('updated_anime.csv', index=False)
updated_anime.head()

,anime_id,name,genre,type,episodes,rating,members,user_rating,count
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,8.30,2199
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,8.03,24574
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,7.96,1386
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,8.13,19283
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,7.71,3673

In [83]:
#Top anime by communities 
top20_anime= updated_anime[updated_anime['members']>100000]
top20_anime= top20_anime[top20_anime['count']>10000]

# Sort the DataFrame by 'members' and 'user_rating' in descending order to get the top 20
top20_anime = top20_anime.sort_values(by=['user_rating'], ascending=False).head(20)

# Create a table for the top 20 anime with 'anime_name', 'user_rating', and 'members' columns
top20_anime = top20_anime[['name', 'user_rating', 'members','count']]

top20_anime.head()

                                  name  user_rating  members  count
3                          Steins;Gate         8.13   673572  19283
1     Fullmetal Alchemist: Brotherhood         8.03   793665  24574
10                Clannad: After Story         7.84   456749  17854
13  Code Geass: Hangyaku no Lelouch R2         7.77   572888  24242
29          Tengen Toppa Gurren Lagann         7.71   562962  19337